<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.struggle.sys.mapper.SysUserMapper">
  <resultMap id="BaseResultMap" type="com.struggle.sys.pojo.SysUser">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime" />
    <result column="status" jdbcType="TINYINT" property="status" />
  </resultMap>
  <sql id="sys_userColumns">
    id, username, account, password, avatar, create_time, last_login_time, status
  </sql>
  <sql id="sys_userDynamicWhere">
    <where>
      <if test="null != id and '' !=  id">AND id = #{ id}</if>
      <if test="null != username and '' !=  username">AND username = #{ username}</if>
      <if test="null != account and '' !=  account">AND account = #{ account}</if>
      <if test="null != password and '' !=  password">AND password = #{ password}</if>
      <if test="null != avatar and '' !=  avatar">AND avatar = #{ avatar}</if>
      <if test="null != createTime and '' !=  createTime">AND create_time = #{ createTime}</if>
      <if test="null != lastLoginTime and '' !=  lastLoginTime">AND last_login_time = #{ lastLoginTime}</if>
      <if test="null != status and '' !=  status">AND status = #{ status}</if>
	</where>
  </sql>
  <sql id="sys_userDynamicLikeWhere">
    <where>
      <if test="null != id and '' !=  id">AND id LIKE #{ id}</if>
      <if test="null != username and '' !=  username">AND username LIKE #{ username}</if>
      <if test="null != account and '' !=  account">AND account LIKE #{ account}</if>
      <if test="null != password and '' !=  password">AND password LIKE #{ password}</if>
      <if test="null != avatar and '' !=  avatar">AND avatar LIKE #{ avatar}</if>
      <if test="null != createTime and '' !=  createTime">AND create_time LIKE #{ createTime}</if>
      <if test="null != lastLoginTime and '' !=  lastLoginTime">AND last_login_time LIKE #{ lastLoginTime}</if>
      <if test="null != status and '' !=  status">AND status LIKE #{ status}</if>
	</where>
  </sql>

  <select id="listPage" parameterType="com.struggle.sys.pojo.SysUser" resultMap="BaseResultMap">
    SELECT <include refid="sys_userColumns" /> FROM  `sys_user` <include refid="sys_userDynamicWhere" />
  </select>

  <select id="listLikePage" parameterType="com.struggle.sys.pojo.SysUser" resultMap="BaseResultMap">
    SELECT <include refid="sys_userColumns" /> FROM  `sys_user` <include refid="sys_userDynamicLikeWhere" />
  </select>

  <select id="list" parameterType="com.struggle.sys.pojo.SysUser" resultMap="BaseResultMap">
    SELECT <include refid="sys_userColumns" /> FROM `sys_user` <include refid="sys_userDynamicWhere" />
  </select>

  <select id="getById" parameterType="java.lang.Long" resultMap="BaseResultMap">
      SELECT
        <include refid="sys_userColumns" />
      FROM `sys_user`
      WHERE id = #{id}
  </select>

  <select id="getOne" parameterType="com.struggle.sys.pojo.SysUser" resultMap="BaseResultMap">
    SELECT <include refid="sys_userColumns" /> FROM  `sys_user` <include refid="sys_userDynamicWhere" /> LIMIT 1
  </select>
  <select id="count" parameterType="com.struggle.sys.pojo.SysUser" resultType="java.lang.Long">
    SELECT COUNT(1) FROM `sys_user` <include refid="sys_userDynamicWhere" />
  </select>
  <select id="countLike" parameterType="com.struggle.sys.pojo.SysUser" resultType="java.lang.Long">
    SELECT COUNT(1) FROM `sys_user` <include refid="sys_userDynamicLikeWhere" />
  </select>


  <sql id="save_sys_user_columns">
    INSERT INTO `sys_user`(
		username, account, password, avatar, create_time, last_login_time, status
	) VALUES
  </sql>
  <sql id="save_sys_user_values">
    (
	  #{ username, jdbcType=VARCHAR},
	  #{ account, jdbcType=VARCHAR},
	  #{ password, jdbcType=VARCHAR},
	  #{ avatar, jdbcType=VARCHAR},
	  now(),
	  #{ lastLoginTime, jdbcType=TIMESTAMP},
	  1
	)
  </sql>
  <sql id="batch_save_sys_user_values">
    (
	  #{ item.username, jdbcType=VARCHAR},
	  #{ item.account, jdbcType=VARCHAR},
	  #{ item.password, jdbcType=VARCHAR},
	  #{ item.avatar, jdbcType=VARCHAR},
	  #{ item.createTime, jdbcType=TIMESTAMP},
	  #{ item.lastLoginTime, jdbcType=TIMESTAMP},
	  #{ item.status, jdbcType=TINYINT}
	)
  </sql>
  <insert id="save" keyProperty="id" parameterType="com.struggle.sys.pojo.SysUser" useGeneratedKeys="true">
    <include refid="save_sys_user_columns" /><include refid="save_sys_user_values" />
  </insert>
  <insert id="saveBatch" parameterType="list">
    <include refid="save_sys_user_columns"/>
	<foreach collection="list" index="index" item="item" separator=",">
		<include refid="batch_save_sys_user_values"/>
	</foreach>
  </insert>


  <sql id="sys_userUpdate">
    UPDATE `sys_user` 
	<set> 
      <if test="null != username">username = #{ username, jdbcType=VARCHAR },</if>
      <if test="null != account">account = #{ account, jdbcType=VARCHAR },</if>
      <if test="null != password">password = #{ password, jdbcType=VARCHAR },</if>
      <if test="null != avatar">avatar = #{ avatar, jdbcType=VARCHAR },</if>
      <if test="null != lastLoginTime">last_login_time = #{ lastLoginTime, jdbcType=TIMESTAMP },</if>
      <if test="null != status">status = #{ status, jdbcType=TINYINT }</if>
	</set>
	WHERE id = #{id}
  </sql>
  <sql id="sys_userUpdateBatch">
    UPDATE `sys_user` 
	<set> 
      <if test="null != item.username">username = #{ item.username, jdbcType=VARCHAR },</if>
      <if test="null != item.account">account = #{ item.account, jdbcType=VARCHAR },</if>
      <if test="null != item.password">password = #{ item.password, jdbcType=VARCHAR },</if>
      <if test="null != item.avatar">avatar = #{ item.avatar, jdbcType=VARCHAR },</if>
      <if test="null != item.lastLoginTime">last_login_time = #{ item.lastLoginTime, jdbcType=TIMESTAMP },</if>
      <if test="null != item.status">status = #{ item.status, jdbcType=TINYINT }</if>
	</set>
	WHERE id = #{ item.id }
  </sql>
  <update id="update" parameterType="com.struggle.sys.pojo.SysUser">
    <include refid="sys_userUpdate" />
  </update>
  <update id="updateBatch" parameterType="list">
    <foreach collection="list" index="index" item="item" open="" separator=";" close="">
	  	<include refid="sys_userUpdateBatch" />
	</foreach>
  </update>
  <delete id="delete">
    DELETE FROM `sys_user` WHERE id = #{id}
  </delete>
</mapper>